<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="TfsUrl" value="https://tfs.net/tfs"/>
    <add key="TfsUsername" value="JoeFreeman"/>
    <add key="TfsPassword" value=""/>
    <add key="TfsDomain" value="dev"/>
    <!-- the number of projects cannot exceed the number of lamps in the device-->
    <!-- the pattern may be case insensitive -->
    <add key="TeamProjectName1" value="MSI"/>
    <add key="BuildDefinitionNamePattern1" value="CI_vNext*"/>
    <add key="TeamProjectName2" value="MSI"/>
    <add key="BuildDefinitionNamePattern2" value="V_vNext*"/>
    <add key="TeamProjectName3" value="MSI"/>
    <add key="BuildDefinitionNamePattern3" value="P_Main*"/>
    <add key="TeamProjectName4" value="MSI"/>
    <add key="BuildDefinitionNamePattern4" value="nomatch*"/>
    <!-- bluesmirf devices create two com ports when bound.  The first one is the outbound -->
    <add key="ArduinoSerialPort" value="COM5"/>
    <add key="ArduinoBaudRate" value="19200"/>
    <!-- used to turn off the lamps because the device can't tell you how many it has-->
    <add key="ArduinoNumberOfLamps" value="4"/>
    <!-- direct USB connected devices reset on connection.  Bluetooth devices do not -->
    <add key="ArduinoResetOnConnect" value="false"/>
    
    <add key="PollPauseInMilliseconds" value="30000"/>
  </appSettings>
<startup>
<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
