<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Tfs.Url" value="https://tfs.foo.com/tfs/Xxx"/>
    <add key="Tfs.Username" value="username"/>
    <add key="Tfs.Password" value="password"/>
    <add key="Tfs.Domain" value="dev"/>
    
    <!-- the number of projects cannot exceed the number of lamps in the device-->
    <!-- the pattern may be case insensitive -->
    <add key="Tfs.TeamProjectName1" value="MSI"/>
    <add key="Tfs.BuildDefinitionNamePattern1" value="CI_vNext*"/>
    <!--
    <add key="Tfs.TeamProjectName2" value="MSI"/>
    <add key="Tfs.BuildDefinitionNamePattern2" value="V_vNext*"/>
    <add key="Tfs.TeamProjectName3" value="MSI"/>
    <add key="Tfs.BuildDefinitionNamePattern3" value="P_Main*"/>
    <add key="Tfs.TeamProjectName4" value="MSI"/>
    <add key="Tfs.BuildDefinitionNamePattern4" value="nomatch*"/>
    -->
    <!-- bluesmirf devices create two com ports when bound.  The first one is the outbound -->
    <!-- test rig has arduino on COM7 and Freemometer on COM2 -->
    <add key="Device.Serial.ComPort" value="COM2"/>
    <add key="Device.Serial.DataRate" value="19200"/>
    <!-- I wish we had DI - valid devices are "ArduinoDualRGB" and "Freemometer" -->
    <add key="Device.Class" value="Freemometer"/>
    
    <!-- used to turn off the lamps because the device can't tell you how many it has-->
    <!-- direct USB connected devices reset on connection.  Bluetooth devices do not -->
    <add key="Arduino.NumberOfLamps" value="2"/>
    <add key="Arduino.ResetOnConnect" value="false"/>

    <!-- single metric device time in msec : 0 = silence -->
    <add key="Freemometer.BellTime" value="150"/>
    
    <add key="PollPauseInMilliseconds" value="30000"/>
    <add key="ExceptionPauseInMilliseconds" value="500"/>
  </appSettings>
<startup>
<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
